* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

p{
  font-size: 18px;
  color: #595353;
}

/* Main */
/* Mau Tahu Lebih */
.detail-tentang{
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-section{
  margin: 20px 200px 30px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFABE;
  padding: 30px;
  border-radius: 20px;
  gap: 20px;
  width: 700px;

  .detail-content{
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4{
      font-size: 25px;
    }

    p{
      font-size: 16px;
      color: #595353;
    }

    button{
      margin-top: 20px;
      background-color: white;
      border: none;
      padding: 10px;
      border-radius: 30px;
      font-weight: 600;
      min-width: 200px;
      align-self: center;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    }

  }
}

.detail-content button:hover{
  box-shadow: 0 4px 2px rgba(163, 157, 157, 0.473);
}

/* Office Professional */
.office-section{
  margin: 50px 200px 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h3{
    font-size: 35px;
    font-weight: 700;
  }

  .office-pic{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    img{
      width: 190px;
      border-radius: 8px;
    }
  }
}

/* Perbandingan */
.perbandingan-section{
  margin: 80px 200px 50px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  h3{
    font-size: 35px;
    font-weight: 700;
  }

  h5{
    font-size: 23px;
    font-weight: 500;
  }

  .tabel-perbandingan{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    width: 900px;
    
    th, td{
      padding: 15px;
      font-size: 16px;
      text-align: center;
    }

    th{
      background-color: #416648;
      color: white;
      font-weight: 600;
    }

    tbody tr:nth-child(even){
      background-color: #EAEAEA;
    }

    thead th:first-child {
      border-top-left-radius: 10px;
    }
    
    thead th:last-child {
      border-top-right-radius: 10px;
    }
  }
}

/* Keunggulan */
.keunggulan-section{
  margin: 100px 200px 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  h2{
    font-size: 35px;
    font-weight: 700;
    color: #416648;
  }

  h5{
    font-size: 23px;
    font-weight: 500;
  }

  .keunggulan-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 30px;
  }

  .keunggulan-card{
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    border-radius: 12px;
    padding: 12px;
    width: 160px;

    img{
      width: 115px;
      align-self: center;
      justify-self: center;
    }

    .keunggulan-content{
      text-align: center;
      background-color: #F9FBF9;
      border-radius: 7px;
      padding: 5px 10px 5px 10px;

      h6{
        font-size: 15px;
        font-weight: 800;
        padding-top: 10px;
      }

      p{
        padding-top: 10px;
        font-size: 12px;
      }
    }
  }
}

/* Penulis Sukses */
.penulis-sukses-section{
  margin: 100px 0px 30px 0px;
  background: linear-gradient(to top, #316D4F, #658374);
  padding-top: 30px;
  padding-bottom: 30px;

  .container-penulis{
    margin: 0px 200px 0px 200px;
    display: flex;
    flex-direction: column;align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    padding-top: 30px;

    h2{
      font-size: 35px;
      font-weight: 700;
    }

    p{
      color: white;
    }

    .penulis-list{
      display: flex;
      flex-direction: row;
      gap: 25px;
      padding-bottom: 30px;
      padding-top: 20px;
    }

    .penulis-card{
      border-radius: 20px;
      width: 230px;
      height: 400px;
      background-color: white;
      color: black;
      display: grid;
      grid-template-rows: 2fr 1fr;
      gap: 15px;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.815);

      img{
        width: 190px;
        align-self: center;
        justify-self: center;
        padding-top: 15px;
        border-radius: 12px;
      }

      .penulis-content{
        padding: 5px 15px 15px 5px;
        text-align: center;

        h3{
          font-weight: 700;
        }
        p{
          padding: 10px;
          color: #8A8484;
          font-size: 16px;
        }
      }
    }
  }
}

/* First banner */
.firstBanner {
  margin: 100px 260px 60px 260px;
  /* padding: 10px; */
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  align-items: center;
  border-radius: 20px;
  color: black;
}

.firstBanner img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.firstBanner .text {
  /* max-width: 50%; */
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.firstBanner .text p {
  font-size: 16px;
}
.firstBanner .text h1 {
  margin-top: 20px;
  margin-bottom: 0;
}
.firstBanner .text button {
  background-color: #adc5a7;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  margin: 10px;
}

/* csKomsultan */
.CS_KonsultanContainer {
  margin: 20px;
}

.textCS h1 {
  font-size: 2em;
  margin: 10px 0;
  color: black;
}
.textCS p {
  margin: 0;
}
.textCS {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  color: #656565;
  padding-bottom: 25px;
  align-items: center;
}

.consultant-container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* column-gap: 2%; */

  margin: 0px 200px 0px 200px;
  padding: 20px;
  justify-items: center;
}
.consultant-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 300px;
  padding: 20px;
  text-align: center;
}
.consultant-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.consultant-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}
.consultant-card p {
  color: #777;
  margin: 10px 0;
}
.consultant-card button {
  background-color: #adc5a7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.consultant-card button:hover {
  background-color: #218838;
}

/* Second banner */
.secondBanner {
  margin: 5% 15% 5% 15%;
  /* padding: 10px; */
  display: flex;
  justify-content: space-evenly;
  background-color: #adc5a7;
  align-items: center;
  border-radius: 20px;
  color: white;
}

.secondBanner img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}
.secondBanner .text {
  /* max-width: 50%; */
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.secondBanner .text p {
  font-size: 16px;
  color: white;
}
.secondBanner .text h1 {
  margin-top: 20px;
  margin-bottom: 0;
}
.secondBanner .text button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  margin: 10px;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: #e9e9e9;
  flex-direction: column;
}

footer .footer-upper {
  display: flex;
  justify-content: center;
}

footer .footer-upper .nav {
  padding: 10px;
}
footer .footer-upper .card {
  display: flex;
  flex-direction: column;
}
footer .footer-upper .card-info {
  display: flex;
}
footer .footer-upper .card-info img {
  max-width: 20%;
}
footer .nav h3 {
  font-size: 18px;
  font-weight: bold;
}
footer .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .nav ul li {
  margin-bottom: 10px;
}
footer .nav ul li a {
  color: #7e7b7b;
  text-decoration: none;
  font-size: 16px;
}
footer .nav ul li a:hover {
  font-weight: bold;
}
footer .nav p strong {
  color: #5f5d5d;
}
footer .nav p {
  font-size: 16px;
  color: #7e7b7b;
}

footer .social-media {
  padding: 10px;
}
footer .social-media h4 {
  margin: 0;
}
footer .social-media ul {
  margin: 0;
  height: 100%;
  padding: 10px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
}
footer .social-media li {
  list-style-type: none;

  /* height: 30px;
  padding: 10px; */
}
footer .social-media li a {
  color: #092635;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 13%;
  background-color: #658374;
  color: white;
}
footer .footer-bottom .firstSection a {
  font-size: 16px;
  color: white;
  padding-right: 20px;
  text-decoration: none;
}
